<h1>
    This application started in: ~@TestWebApplication.Utilities.StartupTimeCalculator.GetTime()
</h1>
<form asp-controller="Cache" asp-action="Clear">
    <button type="submit">Clear cache</button>
</form>